
/**
 *
 * MERCI DE NE PAS PRENDRE EN COMPTE CE FICHIER
 * IL SAGIT D'UN FICHIER QUE J'AI (ANTOINE BEZOMBES) REALISE POUR UN TRES VIEUX PROJET PERSONNEL
 * IL A ETE REUTILISE DANS L'OPTIQUE DE NOUS FAIRE GAGNER DU TEMPS
 *
 */



*{
    font-family: "Roboto Light", sans-serif;
}

html{
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, #00ff95 0%, #00aeff 50%, #2343a2);
    background-size: 100% 200%;
    animation: ease infinite 5s loginContainerGradient alternate;
}

a {
    all: unset;
}

:active, :focus{
    outline: none;
}
/* General */

.boxWrapper{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgba(41,40,60,.6);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .7));
    text-align: center;
}

.flexVertical{
    display: flex;
    flex-direction: column;
}

.flexHorizontal{
    display: flex;
    flex-direction: row;
}

.flexAlignCenter{
    align-items: center;
}

.dangerButton{
    border: 4px solid #f53c59 !important;
    color: whitesmoke;
    background: none;
    text-align: center;
    border-radius: 40px;
    padding: 14px 20px;
    transition: .25s;
}

.dangerButton:hover{
    background: #f53c59 !important;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .5));
    cursor: pointer;
}

.roundPlus:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
    height: 4px;
    border-radius: 2px;
    background: lightgrey;
}
.roundPlus:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    transform: translate(-50%,-50%);
    height: 60%;
    border-radius: 2px;
    background: lightgrey;
}

.roundPlus.activep{
    transform: rotate(135deg);
}

.roundPlus{
    position: relative;
    border: none;
    background: #504f8f;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .5));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0;
    transition: .25s;
}

.roundPlus:hover{
    cursor: pointer;
    background: #7877be;
}

.greyedOutText{
    color: #c58eff;
    animation: ease-in-out infinite 3s greyedOutTextAnimation alternate;
}

@keyframes greyedOutTextAnimation {
    0%{
        color: #474680;
    }
    100%{
        color: #c58eff;
    }
}

.successWrapper{
    padding: 10px 10%;
    border: solid 1px #16de98;
    border-radius: 100px;
}

.successText{
    color: #16de98;
}

.errorWrapper{
    padding: 10px 10%;
    border: solid 1px #f53c59;
    border-radius: 100px;
}

.errorText{
    color: #f53c59;
    animation: ease-in-out 31 200ms errorTextAnimation alternate;
}

@keyframes errorTextAnimation {
    0%{
        color: #ff7688;
    }
    100%{
        color: #f53c59;
    }
}

.formStyle{
    min-width: 300px;
    height: auto;
    color: aliceblue;
    text-align: center;
    background: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
}

.formStyle input[type="text"], .formStyle input[type="password"]{
    border: 4px solid #a216de;
    color: aliceblue;
    background: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    border-radius: 40px;
    padding: 14px 20px;
    transition: 0.25s;
}

.formStyle input[type="text"]:hover, .formStyle input[type="password"]:hover{
    padding: 14px 50px;
}

.formStyle input[type="text"]:focus, .formStyle input[type="password"]:focus{
    padding: 14px 50px;
    border: 4px solid #16de98;
}

.formStyle input[type="submit"]{
    border: 4px solid #a216de;
    color: aliceblue;
    background: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    border-radius: 40px;
    padding: 14px 20px;
    transition: 0.25s;
}

.formStyle input[type="submit"]:hover{
    border: 4px solid #a216de;
    background: #a216de;
    cursor: pointer;
}

.formStyle input[type="submit"]:focus{
    border: 4px solid #16de98;
    background: #16de98;
    transition: 0s;
}

.bigTitle{
    color: aliceblue;
    text-align: center;
    font-size: 72px;
    margin: 0 0 20px 0;
}

@media screen and (min-width: 1200px) {
    .setTopMargin{
        margin-top: var(--new-top-margin);
    }
}

.resizeText{
    font-size: var(--new-font-size);
}
/* schedule/autfeeding */

.schedule{
    display: flex;
    border-radius: 10px;
    margin: 10px 0;
    background: linear-gradient(45deg,  #29283c, #504f8f);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .1));
    align-items: center;
    justify-content: space-around;
}

.active, .collapsible:hover{
    background: linear-gradient(45deg, #232233, #474680);
    cursor: pointer;
}

.content{
    margin-top: -5px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .25s;
}

#addScheduleFormId{
    transition: .25s;
    height: 0;
    overflow: hidden;
}

/* Login page */
#loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

@keyframes loginContainerGradient {
    0%{
        background-position: 0% 100%;
    }
    100%{
        background-position: 100% 0%;
    }
}

#loginBox{
    width: 50%;
    min-width: 300px;
    height: auto;
    color: aliceblue;
    text-align: center;
    background: #29283c;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .5));
}

#loginBox input[type="text"], #loginBox input[type="password"]{
    border: 4px solid #a216de;
    color: aliceblue;
    background: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    border-radius: 40px;
    padding: 14px 20px;
    transition: 0.25s;
}

#loginBox input[type="text"]:hover, #loginBox input[type="password"]:hover{
    padding: 14px 50px;
}

#loginBox input[type="text"]:focus, #loginBox input[type="password"]:focus{
    padding: 14px 50px;
    border: 4px solid #16de98;
}

#loginBox input[type="submit"]{
    border: 4px solid #a216de;
    color: aliceblue;
    background: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    border-radius: 40px;
    padding: 14px 20px;
    transition: 0.25s;
}

#loginBox input[type="submit"]:hover{
    border: 4px solid #a216de;
    background: #a216de;
    cursor: pointer;
}

#loginBox input[type="submit"]:focus{
    border: 4px solid #16de98;
    background: #16de98;
    transition: 0s;
}

/* navbar */

#navBarWrapper{
    margin: 20px;
    border-radius: 10px;
    background-color: #29283c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .5));
}

#navBarUser{
    color: whitesmoke;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    padding: 0 20px;
    text-align: center;
}

#navBarUser:after{
    content: "";
    position: absolute;
    background-color: whitesmoke;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    transform: scaleY(.5);
}

#navBarList{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.navBarElement:before{
    content: "";
    position: absolute;
    background-color: whitesmoke;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    visibility: hidden;
    transition: .3s;
}

.navBarElement{
    color: whitesmoke;
    position: relative;
}

.navBarElement:hover{
    cursor: pointer;
}

.navBarElement:hover:before{
    transform: scaleX(1.1);
    visibility: visible;
}