{% extends "base.twig" %}
{% block head %}
    <title>MyWishlist : Dashboard</title>
{% endblock head %}

{% block body %}
    {% include 'navbar.twig' %}
    <p>Dashboard de {{ username }}</p>
{% endblock body %}