<h1 class="bigTitle animate__animated animate__fadeIn animate__delay-1s">MyWishlist</h1>
<div id="navBarList" class="resizeText setTopMargin" style="--new-font-size: 25px; --new-top-margin: -60px">
    <a class="navBarElement" href="{{ path_for('login') }}">Se connecter</a>
    <a class="navBarElement" href="{{ path_for('login') }}">Créer un compte</a>
</div>