<h1 class="bigTitle">MyWishlist</h1>
<div id="navBarWrapper">
    <div id="navBarUser">
        <p>{{ auth.getUsername }}</p>
    </div>
    <div id="navBarList">
        <a class="navBarElement" href="{{ path_for('profile.dashboard') }}">Listes</a>
        <a class="navBarElement" href="{{ path_for('profile.settings') }}">Paramètres du compte</a>
        <a class="dangerButton" href="{{ path_for('profile.disconnect') }}">Se déconnecter</a>
    </div>
</div>