<div id="navBarWrapper" class="animate__animated animate__fadeInDown">
    <div id="navBarUser">
        <p>{{ username }}</p>
    </div>
    <div id="navBarList">
        <a class="navBarElement" href="/">Listes</a>
        <a class="dangerButton" href="{{ path_for('profile.disconnect') }}">Se déconnecter</a>
    </div>
</div>